
body
{
    font-family: 'Cardo', serif;
    color:white;
    font-weight: 400;
    max-width:1366px;
    
}

.font
{
    font-family: 'Cardo', serif;
}


.card-overlay {
  background: rgba(0, 0, 0, 0.3);
  min-height:680px;
  
}

.index-banner{
  background-image: url("images/index_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.services-banner{
  background-image: url("images/services_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.services-wedding-photo-banner{
  background-image: url("images/services_wedding_photo_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.navbar{
    background:transparent;
    font-weight:700;
    color:white;
    font-size:18px;
}

.nav-item{
  position: relative; 
  width:24.25%;
}

.nav-space{
  position: relative; 
  width:1%;
}

a:link {
    color: white;
  }
  
  /* visited link */
a:visited {
    color: white;
  }
  
  /* mouse over link */
a:hover {
    color: white;
  }
  
  /* selected link */
a:active {
    color: white;
  }

#container { 
	margin-right: auto;
	margin-left: auto;
}

.col-md-custom{
  text-align:left; 
  position: relative; 
}

.side-margin{
  position: relative; 
  width:3%;
}

.underline{
  font-size:36px; 
  font-weight:400;
  text-decoration: underline;
  text-decoration-color: #dbd8c7; 
  text-underline-position: under; 
  text-decoration-thickness:5px;
  position: relative; 
}

.white-underline{
  font-size:36px; 
  font-weight:400;
  text-decoration: underline;
  text-decoration-color: white; 
  text-underline-position: under; 
  text-decoration-thickness:5px;
  position: relative; 
}

.thirds{
  position: relative; 
  width:30.66%;
}

.thirds-space{
  position: relative; 
  min-height: 1px; 
  width:1%;
}


.half{
  position: relative; 
  width:46%;
}

.half-space{
  position: relative; 
  min-height: 1px; 
  width:2%;
}

.footer{
  height:auto; 
  padding-top:30pt; 
  padding-bottom:30pt; 
  background-color: #cac4bb;
}

.rates-border{
  border-style:solid;
  border-color:white;
}