body
{
    font-family: 'Cardo', serif;
    color:white;
    font-weight: 400;    
    margin:0;
    padding:0;
}

.font
{
    font-family: 'Cardo', serif;
}


.card-overlay {
  background: rgba(0, 0, 0, 0.3);
  min-height:48.718vw;
  
}

.index-banner{
  background-image: url("images/index_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.services-banner{
  background-image: url("images/services_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.services-wedding-photo-banner{
  background-image: url("images/services_wedding_photo_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.services-maternal-photo-banner{
  background-image: url("images/services_maternal_photo_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.services-corporate-photo-banner{
  background-image: url("images/services_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.work-community-banner{
  background-image: url("images/work_community_banner.png");
  background-repeat: no-repeat;
  height:auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.navbar{
    background:transparent;
    font-weight:700;
    color:white;
    font-size:1.35vw;
}

.nav-item{
  position: relative; 
  width:32.66%;
}

.nav-space{
  position: relative; 
  width:1%;
}

a:link {
    color: white;
  }
  
  /* visited link */
a:visited {
    color: white;
  }
  
  /* mouse over link */
a:hover {
    color: grey;
  }
  
  /* selected link */
a:active {
    color: white;
  }

#container { 
	margin-right: auto;
	margin-left: auto;
}

.col-md-custom{
  text-align:left; 
  position: relative; 
}

.side-margin{
  position: relative; 
  width:3%;
}

.underline{
  font-size:1.978vw; 
  font-weight:400;
  text-decoration: underline;
  text-decoration-color: #dbd8c7; 
  text-underline-position: under; 
  text-decoration-thickness:0.275vw;
  position: relative; 
}

.white-underline{
  font-size:1.978vw; 
  font-weight:400;
  text-decoration: underline;
  text-decoration-color: white; 
  text-underline-position: under; 
  text-decoration-thickness:0.275vw;
  position: relative; 
}

.thirds{
  position: relative; 
  width:30.66%;
}

.thirds-space{
  position: relative; 
  min-height: 0.055vw; 
  width:1%;
}


.half{
  position: relative; 
  width:46%;
}

.half-space{
  position: relative; 
  min-height: 0.055vw; 
  width:2%;
}

.footer{
  height:auto; 
  padding-top:2.198vw; 
  padding-bottom:2.198vw; 
  background-color: #cac4bb;
}

.rates-border{
  border-style:solid;
  border-color:white;
}
